<% if existing_action?(collection_presenter.resource_name, :edit) %>
  <td class="text-center px-4"><%= link_to(
    t("administrate.actions.edit"),    
    [:edit, namespace, resource],
    class: "btn btn-primary",
  ) if accessible_action?(resource, :edit) %></td>
<% end %>
<% if existing_action?(collection_presenter.resource_name, :destroy) %>
  <td class="text-center px-4"><%= link_to(
    t("administrate.actions.destroy"),
    [namespace, resource],
    class: "btn btn-danger",
    method: :delete,
    data: { confirm: t("administrate.actions.confirm") }
  ) if accessible_action?(resource, :destroy) %></td>
<% end %>
