<form class="search" role="search">
  <input class="form-control form-control-sm" id="search" type="search" name="search" placeholder="<%= t("administrate.search.label", resource: resource_name) %>" value="<%= search_term %>">
</form>
