<div class="card-body table-responsive p-0">
  <div class="card-header">
    <h3 class="card-title">Wallets</h3>
  </div>
  <div>
    <table class="table table-hover text-nowrap">
      <thead>
        <tr>
          <th>Account</th>
          <th>Balance</th>
        </tr>
      </thead>
      <tbody>
       <tr>
            <td>System Income</td>
            <td><%=DoubleEntry.account(:system_income).balance.to_f%></td>
          </tr>
          <tr>
            <td>System Expense</td>
            <td><%=DoubleEntry.account(:system_expense).balance.to_f%></td>
          </tr>
        <%@users.each do |u|%>
          <tr>
            <td><%=u.name%></td>
            <td><%=DoubleEntry.account(:user, scope: User.find(u.id)).balance.to_f%></td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>
</div>
